/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("./reset.css");

/*  Color Palette 

Primary : #4c9294
Primary Dark : #26474A
Black: #0B110D
Light Grey : #d2d2d2;


*/
/* General Classes */
.relative {
  position: relative;
}

.bold {
  font-weight: 600;
}

.bg-primary {
  background-color: #4c9294 !important;
}

.bg-blue {
  background-color: #1b2845 !important;
}

.btn-primary {
  color: #fff;
  background-color: #4c9294;
  border-color: #4c9294;
}

.btn-blue {
  color: #fff;
  background-color: #1b2845;
  border-color: #1b2845;
}
.btn-outline-blue {
  color: #1b2845;
  background-color: transparent;
  border-color: #1b2845;
}
.btn-outline-blue:hover {
  color: #fff;
  background-color: #1b2845;
  border-color: #1b2845;
}

.btn-blue:hover {
  color: #1b2845;
  background-color: transparent;
  border-color: #1b2845;
}

.bg-row {
  background-color: #4c9294;
  height: 400px;
  position: relative;
}

body {
  color: #212121;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
}

h4 {
  font-size: 22px;
}

p {
  margin-bottom: 10px;
}

/* Navigation */
header {
  position: relative;
  z-index: 99;
}

/* img {
    width: 100%;
    height: auto;
} */

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #4c9294;
}

.nav-link {
  cursor: pointer;
  color: #212121;
  cursor: pointer;
}

.nav-link:hover {
  color: #4c9294;
}

/* Footer */
footer {
  background-color: transparent;
  border-top: 1px solid #d2d2d2;
}

#page {
  min-height: 551px;
  margin-bottom: 80px;
  /* position: relative; */
}

/* Form */
label.form-label {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Buttons */
.form-control {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 2px;
  margin-top: 20px;
}
.btn-primary:hover {
  color: #4c9294 !important;
  background-color: transparent !important;
  border-color: #4c9294 !important;
}

/* HOME */
/* .hero {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    /* padding-top: 129
px
; */

.hero > .hero-col {
  padding-top: 160px;
  padding-bottom: 160px;
}

div.hero > div > div > div.bg-primary {
  position: absolute;
  right: 0;
  height: 100%;
}

.row.products-row {
  margin-top: 80px;
}

.product-single {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  width: 30%;
  margin-right: 64px;
  margin-bottom: 50px;
}

.product-single:nth-child(3n) {
  margin-right: 0;
}
button.imageButton {
  width: 100%;
}
.product-single img {
  object-fit: cover;
  width: 100%;
}
button#productImage,
.imageButton {
  padding: 0;
  border: 0;
  background-color: transparent;
}
button#openConversation {
  background: none;
  border: 0;
  color: #4c9294;
  margin-bottom: 15px;
}

p.cat-tag {
  position: absolute;
  left: 0;
  top: 49%;
  padding: 15px;
  background-color: white;
  color: inherit;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* Form */
form.home-search {
  width: 500px;
  position: relative;
}

form.home-search input[type="text"] {
  width: 100%;
  border: 2px solid #ededed;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  height: 80px;
}

form.home-search button {
  position: absolute;
  right: 14px;
  /* padding: 10px 15px; */
  top: 17px;
}

p.price-tag {
  font-size: 25px;
}

/* Conversations */
.small-container {
  width: 800px;
}

.messages.small-container .row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.messages {
  padding: 50px;
  margin-top: 42px;
}

#message-date {
  font-size: 12pt;
}

#message-content {
  font-size: 18pt;
}

.message {
  padding: 20px 30px;
  background-color: rgba(76, 146, 148, 0.5);
  margin-bottom: 30px;
  border-bottom-right-radius: 60px;
  /* border-bottom-right-radius: 30px; */
  border-top-left-radius: 45px;
}

.border-bottom {
  border-bottom: 1px solid #f7f7f7 !important;
}

form.post-message {
  position: relative;
}

form.post-message textarea {
  height: 60px;
}

form.post-message button {
  position: absolute;
  right: 11px;
  top: 6px;
}

p.sent-by {
  border-radius: 50%;
  background-color: #1b2845;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -26px;
  left: -26px;
}
#response-container {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  overflow: auto;
  max-height: 50%;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: small;
}

#instructions {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 1rem;
  font-size: medium;
}

/* Product page */
img.productPage-Image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.button-container {
  display: flex;
  justify-content: end;
}

/******************************** Star rating system rendering settings ************************
/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto 10px auto;
  position: relative;
}
/* hide the inputs */
.star-rating input {
  display: none;
}
/* set properties of all labels */
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}
/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}
.btn {
  margin: 10px;
}

.productsBox {
  text-align: center;
}
.productlist-row {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
} 
.reviewDateTime {
  color: #707070;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: gold;
  overflow: hidden;
}

.stars-0:after {
  width: 0%;
}
.stars-10:after {
  width: 10%;
}
.stars-20:after {
  width: 20%;
}
.stars-30:after {
  width: 30%;
}
.stars-40:after {
  width: 40%;
}
.stars-50:after {
  width: 50%;
}
.stars-60:after {
  width: 60%;
}
.stars-70:after {
  width: 70%;
}
.stars-80:after {
  width: 80%;
}
.stars-90:after {
  width: 90%;
}
.stars-100:after {
  width: 100;
}


.navbar-dark .navbar-toggler {
  border-color: none;
}

/* Media queries */



@media only screen and (min-width: 769px)  and (max-width: 1048px) {
  .product-single {
    width: 40%;
    margin-right: 30px;
  }
}




@media only screen and (max-width: 768px) {
  .product-single {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    display: flex;
    margin-bottom: 30px;
  }
  p.cat-tag {
    top: 0;
    left: 39%;
  }

}